{{#let
     (hash
     get=(component "rdfa/ctx-get" model=value)
     img=(component "rdfa/ctx-img" model=model)
     each=(component "rdfa/ctx-each" model=value)) as |componentHash|}}
  {{#if isInAppLink}} {{!-- We want to link to a related resource using an Ember route --}}
    {{#rdfa/link-to link-to=link-to href-to=href-to value=value useUri=useUri property=rdfaProperty}}
      {{yield value componentHash}}
    {{/rdfa/link-to}}
  {{else}}
    {{#if isResource}}
      {{#if link}}
        {{!-- We want to link to a related resource using its URI --}}
        {{#if (has-block)}}
          {{yield (hash property=rdfaProperty href=value.uri typeof=typeof) value componentHash}}
        {{else}}
          <a property={{this.rdfaProperty}} href={{this.value.uri}} typeof={{this.typeof}}>{{this.value.uri}}</a>
        {{/if}}
      {{else}}
        {{!-- We want to create a new scope for the resource --}}
        {{#if (has-block)}}
          {{yield (hash property=rdfaProperty resource=value.uri typeof=typeof) value componentHash}}
        {{else}}
          <span property={{this.rdfaProperty}} resource={{this.value.uri}} typeof={{this.typeof}}>{{this.value.uri}}</span>
        {{/if}}
      {{/if}}
    {{else}}
      {{!-- Value is a literal --}}
      {{#if link}}
        {{#if (has-block)}}
          {{yield (hash property=rdfaProperty href=value)}}
        {{else}}
          <a property={{this.rdfaProperty}} href={{this.value}}>{{this.value}}</a>
        {{/if}}
      {{else}}
        {{#if (has-block)}}
          {{yield (hash property=rdfaProperty datatype=rdfaDatatype content=rdfaContent) value}}
        {{else}}
          <span property={{this.rdfaProperty}} datatype={{this.rdfaDatatype}} content={{this.rdfaContent}}>{{this.value}}</span>
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
{{/let}}
