{{#each value as |newModel|}}
  {{#let (hash
     get=(component "rdfa/ctx-get" model=newModel)
     each=(component "rdf/ctx-each" model=newModel)) as |componentHash|}}
    {{#if link}}
      <a href={{newModel.uri}} property={{rdfaProperty}} style={{style}} typeof={{newModel.rdfaBindings.class}}>
        {{yield componentHash newModel}}
      </a>
    {{else}}
      <div property={{rdfaProperty}} style={{style}} resource={{newModel.uri}} typeof={{newModel.rdfaBindings.class}}>
        {{yield componentHash newModel}}
      </div>
    {{/if}}
  {{/let}}
{{/each}}
