<div property={{rdfaProperty}} style={{style}} resource={{value.uri}} typeof={{value.rdfaBindings.class}}>
  {{yield value
    (hash
    src=(component "rdfa/ctx-src" resource=value)
    prop=(component "rdfa/ctx-prop" resource=value)
    with-each-context=(component "rdfa/ctx-with-each-context" resource=value)
    each-as-link=(component "rdfa/ctx-each-as-link" resource=value)
    each-resource=(component "rdfa/ctx-each-resource" resource=value)
    linked-resource=(component "rdfa/ctx-linked-resource" resource=value)
    link=(component "rdfa/ctx-as-link" resource=value))}}
</div>
