{{#let
     (hash
     get=(component "rdfa/ctx-get" model=value)
     each=(component "rdf/ctx-each" model=value)) as |componentHash|}}

  {{#if link-to}}
    {{!-- We want to link to a related resource with an ID matching
         our own route. --}}
    {{!-- TODO: Perhaps this should become ctx.link-to or perhaps it
         should be handled automatically be introspecting the router.
         --}}
    {{#rdfa/link-to link-to=link-to value=value useUri=useUri property=rdfaProperty}}
      {{yield componentHash value}}
    {{/rdfa/link-to}}
  {{else}}
    {{#if isResource}}
      {{#if link}}
        {{!-- We want to link to a related resource using its URI --}}
        <a property={{rdfaProperty}} href={{value.uri}} typeof={{typeof}}>
          {{#if (has-block)}}
            {{yield componentHash value}}
          {{else}}
            {{value}}
          {{/if}}
        </a>
      {{else}}
        {{!-- We want to create a new scope for the resource --}}
        {{#rdfa/rdfa-node tagName=innerTagName property=rdfaProperty resource=value.uri typeof=typeof}}
          {{yield componentHash value}}
        {{/rdfa/rdfa-node}}
      {{/if}}
    {{else}}
      {{#if (has-block)}}
        {{#rdfa/rdfa-node tagName=innerTagName property=rdfaProperty content=rdfaContent datatype=rdfaDatatype}}
          {{yield value}}
        {{/rdfa/rdfa-node}}
      {{else}}
        {{#rdfa/rdfa-node tagName=innerTagName property=rdfaProperty datatype=rdfaDatatype}}
          {{value}}
        {{/rdfa/rdfa-node}}
      {{/if}}
    {{/if}}
  {{/if}}
{{/let}}
