{{#each value as |newModel|}}
  {{#let (hash
       get=(component "rdfa/ctx-get" model=newModel)
       img=(component "rdfa/ctx-img" model=newModel)
       each=(component "rdfa/ctx-each" model=newModel)) as |componentHash|}}
    {{#if isInAppLink}}
      {{#rdfa/link-to link-to=link-to href-to=href-to value=newModel useUri=useUri property=rdfaProperty}}
        {{yield newModel componentHash}}
      {{/rdfa/link-to}}
    {{else}}
      {{#if (is-rdfa-resource newModel)}}
        {{#if link}}
          {{#if (has-block)}}
            {{yield (hash property=rdfaProperty href=newModel.uri typeof=newModel.rdfaBindings.class) newModel componentHash}}
          {{else}}
            <a {{rdfa (hash property=rdfaProperty href=newModel.uri typeof=newModel.rdfaBindings.class)}}>{{newModel.uri}}</a>
          {{/if}}
        {{else}}
          {{#if (has-block)}}
            {{yield (hash property=rdfaProperty resource=newModel.uri typeof=newModel.rdfaBindings.class) newModel componentHash}}
          {{else}}
            <span {{rdfa (hash property=rdfaProperty resource=newModel.uri typeof=newModel.rdfaBindings.class)}}>{{newModel.uri}}</span>
          {{/if}}
        {{/if}}
      {{else}}
        {{#if link}}
          {{#if (has-block)}}
            {{yield (hash property=rdfaProperty href=newModel)}}
          {{else}}
            <a {{rdfa (hash property=rdfaProperty href=newModel)}}>{{newModel}}</a>
          {{/if}}
        {{else}}
          {{#if (has-block)}}
            {{yield (hash property=rdfaProperty datatype=datataype content=content) newModel}}
          {{else}}
            <span {{rdfa (hash property=rdfaProperty datatype=datataype content=content)}}>{{newModel}}</span>
          {{/if}}
        {{/if}}
      {{/if}}
    {{/if}}
  {{/let}}
{{/each}}
