{{#if useUri}}
  <a href={{uri}} {{rdfa (hash property=property typeof=typeof)}} {{action "transition"}}>
    {{yield}}
  </a>
{{else}}
  <a href={{url}} {{rdfa (hash property=property typeof=typeof resource=uri)}} {{action "transition"}}>
    {{yield}}
  </a>
{{/if}}
