<span property={{@attributes.property}}
      resource={{@attributes.resource}}
      typeof={{@attributes.typeof}}
      datatype={{@attributes.datatype}}
      content={{@attributes.content}}
      ...attributes>
  {{yield}}
</span>
