<a
  href={{if @useUri this.uri this.url}}
  property={{@property}}
  typeof={{@value.rdfaBindings.class}}
  resource={{if @useUri undefined (if @overrideUri this.url this.uri)}}
  {{on "click" this.transition}}
  ...attributes
>
  {{yield}}
</a>
