<h2 id="title">Ember RDFa helpers</h2>

{{#with-rdfa-context model=model as |ctx|}}
  <div>{{ctx.img prop="profilePicture" alt="Profile pic" width=100 height=100}}</div>
  <div>
    {{ctx.get prop="firstName"}} {{ctx.get prop="lastName"}}
    is born on
    {{#ctx.get prop="birthDate" as |attrs value|}}
      <span {{rdfa attrs}}>{{format-date value}}</span>
    {{/ctx.get}}.
    For more info, have a look at
    {{#ctx.get prop="homepage" link=true as |attrs|}}
      <a {{rdfa attrs}}>his homepage</a>
    {{/ctx.get}}.
  </div>
  <div>
    He's also known by nicknames:
    {{ctx.each prop="nicknames"}}
  </div>
  <div>
    He's currently working on
    {{#ctx.get prop="currentProject" as |attrs project projectCtx|}}
      <span {{rdfa attrs}}>{{project.name}}</span>
      which is funded by:
      <ul>
        {{#projectCtx.each prop="funders" link=true as |attrs funder|}}
          <li><a {{rdfa attrs}}>{{funder.firstName}} {{funder.lastName}}</a></li>
        {{/projectCtx.each}}
      </ul>
    {{/ctx.get}}
  </div>
  <div>
    You can find him online at:
    <ul>
      {{#ctx.each prop="accounts" as |attrs account accountCtx|}}
        <li {{rdfa attrs}}>
          {{accountCtx.get prop="accountServiceHomepage" link=true}} as {{accountCtx.get prop="accountName"}}
        </li>
      {{/ctx.each}}
    </ul>
  </div>
{{/with-rdfa-context}}

{{outlet}}